ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  width: 100px;
}
img {
  width: auto;
  height: 300px;
}
#cat-list {
  border-style: solid;
}
/* .name {
  background: grey;
  width: 50%;
} */
